.navbarPrimary {
    background-color: #01403A;
}

.navbarSecundary {
    background-color: #8ABFB5;
}

.navbar {
    color: white;
}

.search-input {
    width: 400px;
    margin: 0px;
}

.search-btn {
    margin: 4px;
}

.nav-text {
    color: white;
}
