.main {
    background-color: #F2F2F2;
}

.titulo-produto {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: start;
    background-color: #8ABFB5;
    color: white;
}
